#loginFormdiv {
    margin: 10% 10%;
}

#imgIcon li a img{
    height: 30px;
    width: 30px;
}

.pager, .pagination ul {
    text-align: center;
    list-style: none;
}

.pager li, .pagination ul li {
    display: inline;
    padding: 10px;
}

